* {
    box-sizing: border-box;
}
body {
    overflow: scroll;
    height: 250vh;
    scrollbar-width: none;
    padding: 0.5vw;
    background: url(bg4.webp);
    background-repeat: no-repeat;
    background-size: 250% 250%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
::-webkit-scrollbar {
    display: none;
}
@font-face {
    font-family: Barrio;
    src: url(barrio-v20-latin-regular.woff2);
}
@font-face {
    font-family: Shizuru;
    src: url(shizuru-v13-latin-regular.woff2);
    font-weight: 400;
}
@font-face {
    font-family: knewave;
    src: url(knewave-v15-latin-regular.woff2);
    font-weight: 400;
}
#banner{
align-self: center;
width: 95vw;
}
h1 {
    font-size: 4vw;
    text-align: center;
    font-family: Barrio;
}
hr {
    height: 0.6vw;
    border: 2px solid black;
    background-color: black;
}
#aboutUs {
    width: 25vw;
    height: 500px;
    background-color: #E6684C;
    display: flex;
    align-items: center;
    text-align: justify;
}
#explanation {
    font-size: 2.5vw;
    display: inline-block;
    font-family: Barrio;
}
#game {
    font-size: 3vw;
    position: absolute;
    right: 0.5vw;
    display: inline-block;
    font-family: Shizuru;
}
.games {
    width: 30vw;
    height: 12vw;
    background-color: red;
    border: 2px solid black;
    
}
#dateAndLinks {
    font-size: 3vw;
    font-family: knewave;
    text-decoration: none;
    color: black;
}
a {
    color: purple;
}
#creds {
width: 90vw;
height: 50vw;
}
.credCard {
    position: absolute;
    left: -3vw;
    width: 30vw;
    background-color: #E6684C;
    height: 30vw;
    text-align: center;
    align-content: center;
    font-size: 2.5vw;
    transition: 400ms;
    transform: scale(0.6);
    opacity: 0;
    font-family: Shizuru;
}
.show {
    position: absolute;
    left: 34vw;
    transform: scale(1);
    opacity: 1;
    font-family: Shizuru;
}
#next {
    background-color: indianred;
    font-size: 3vw;
    position: absolute;
 left: 15vw;
 font-family: Shizuru;
}
#game {
    background-repeat: no-repeat;
    object-fit: cover;
}
#game1 {
    background: url(Screenshot\ 2026-01-14\ 171456.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#game2 {
    background: url(thumbnail.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#game3 {
    background: url(together.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#game4 {
    background: url(eternalnight.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#credTitle {
    font-family: Barrio;
    font-size: 3vw;
}